In [1]:
import pandas as pd
from cleaner_lib import get_binned_tod, get_binned_tod_col

In [2]:
# Main PD file
main_pd_df = pd.read_csv("../data/pd_calls_for_service_2022_datasd.csv")

In [3]:
print("count of main_pd_df",len(main_pd_df))
main_pd_df.head()

count of main_pd_df 197346

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
0,E22010000001,2022-01-01 00:00:00,7,1300.0,NaN,MORAEA,ST,NaN,NaN,NaN,AU1,DUP,452,1.0
1,E22010000002,2022-01-01 00:00:07,7,600.0,NaN,BROADWAY,NaN,NaN,NaN,NaN,1186,CAN,524,3.0
2,E22010000003,2022-01-01 00:00:08,7,700.0,NaN,GRAND,AVE,NaN,NaN,NaN,1186,K,122,3.0
3,E22010000004,2022-01-01 00:00:15,7,4600.0,NaN,AIR,WAY,NaN,NaN,NaN,MPSSTP,K,447,2.0
4,E22010000005,2022-01-01 00:00:22,7,4700.0,NaN,MISSION BAY,DR,NaN,NaN,NaN,AU1,DUP,122,1.0

In [4]:
main_pd_df.count()

incident_num                 197346
date_time                    197346
day_of_week                  197346
address_number_primary       197345
address_dir_primary            9173
address_road_primary         197322
address_sfx_primary          179912
address_dir_intersecting          0
address_road_intersecting     33431
address_sfx_intersecting          1
call_type                    197084
disposition                  196442
beat                         197346
priority                     197345
dtype: int64

In [5]:
# neighborhood beats 
nh_beats_df = pd.read_csv("../data/pd_beat_codes_list_datasd.csv")
nh_beats_df.head()

   beat          neighborhood
0   111  Clairemont Mesa East
1   112  Clairemont Mesa West
2   113                Bay Ho
3   114      North Clairemont
4   115       University City

In [6]:
# merge pd file with beats file for neighbourhoods
main_pd_df = main_pd_df.merge(nh_beats_df,on='beat',how='left')
print("count of main_pd_df",len(main_pd_df))
main_pd_df.head()

count of main_pd_df 197346

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,neighborhood
0,E22010000001,2022-01-01 00:00:00,7,1300.0,NaN,MORAEA,ST,NaN,NaN,NaN,AU1,DUP,452,1.0,O'Farrell
1,E22010000002,2022-01-01 00:00:07,7,600.0,NaN,BROADWAY,NaN,NaN,NaN,NaN,1186,CAN,524,3.0,Core-Columbia
2,E22010000003,2022-01-01 00:00:08,7,700.0,NaN,GRAND,AVE,NaN,NaN,NaN,1186,K,122,3.0,Pacific Beach
3,E22010000004,2022-01-01 00:00:15,7,4600.0,NaN,AIR,WAY,NaN,NaN,NaN,MPSSTP,K,447,2.0,Ridgeview/Webster
4,E22010000005,2022-01-01 00:00:22,7,4700.0,NaN,MISSION BAY,DR,NaN,NaN,NaN,AU1,DUP,122,1.0,Pacific Beach

In [7]:
# Crime Types for the codes
crime_code_type_df = pd.read_csv("../data/pd_cfs_calltypes_datasd.csv")
crime_code_type_df.head()

  call_type               description     crime_type crime_focus
0      1016       PRISONER IN CUSTODY        exclude     exclude
1    1016PT  PTU (PRISONER TRANSPORT)        exclude     exclude
2    1016QC     SHOPLIFTER/QUICK CITE  theft_robbery    property
3      1021        PHONE YOUR STATION        exclude     exclude
4     1021H           PHONE YOUR HOME        exclude     exclude

In [8]:
# merge pd file with crime_type file
# main_pd_df = main_pd_df.merge(crime_code_type_df,on='call_type',how='left')
# print("count of main_pd_df",len(main_pd_df))
# main_pd_df.head()

In [9]:
len(crime_code_type_df)

289

In [10]:
# Checking the unique count of call_type
print("Checking the unique count of call_type",len(pd.unique(crime_code_type_df['call_type'])))

Checking the unique count of call_type 281

In [11]:
# Total count of the crime call type file.
print("Total count of the crime call type file.",len(crime_code_type_df))

Total count of the crime call type file. 289

In [12]:
# Selecting duplicate rows except first
# occurrence based on all columns
duplicate = crime_code_type_df[crime_code_type_df['call_type'].duplicated()]
 
print("Duplicate Rows :")
 
# Print the resultant Dataframe
duplicate

Duplicate Rows :

    call_type                   description     crime_type crime_focus
20       1111                CHECK THE AREA        exclude     exclude
22       1115  BALL GAME IN STREET(83 03MC)        exclude     exclude
24       1130         INCOMPLETE PHONE CALL     suspicious      person
26       1131              CALLING FOR HELP     suspicious      person
95        278                CHILD STEALING          major      person
104       415              DISTURBING PEACE          minor      person
146       532  FRAUD SOLICITATION/CHARITIES  theft_robbery      person
232        FP                       WARRANT          minor      person

In [13]:
# Removing duplicates 
crime_code_type_df = crime_code_type_df[~crime_code_type_df['call_type'].duplicated()]

In [14]:
# Checking the unique count of call_type
print("Checking the unique count of call_type",len(pd.unique(crime_code_type_df['call_type'])))
print("Total count of the crime call type file.",len(crime_code_type_df))

Checking the unique count of call_type 281
Total count of the crime call type file. 281

In [15]:
# merge pd file with crime_type file
main_pd_df = main_pd_df.merge(crime_code_type_df,on='call_type',how='left')

# Renaming description column to call_type_desc
main_pd_df.rename(columns = {'description':'call_type_desc'}, inplace = True)

print("count of main_pd_df",len(main_pd_df))
main_pd_df.head()

count of main_pd_df 197346

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,neighborhood,call_type_desc,crime_type,crime_focus
0,E22010000001,2022-01-01 00:00:00,7,1300.0,NaN,MORAEA,ST,NaN,NaN,NaN,AU1,DUP,452,1.0,O'Farrell,ALL UNITS INFORMATION-PRI 1,exclude,exclude
1,E22010000002,2022-01-01 00:00:07,7,600.0,NaN,BROADWAY,NaN,NaN,NaN,NaN,1186,CAN,524,3.0,Core-Columbia,SPECIAL DETAIL,exclude,exclude
2,E22010000003,2022-01-01 00:00:08,7,700.0,NaN,GRAND,AVE,NaN,NaN,NaN,1186,K,122,3.0,Pacific Beach,SPECIAL DETAIL,exclude,exclude
3,E22010000004,2022-01-01 00:00:15,7,4600.0,NaN,AIR,WAY,NaN,NaN,NaN,MPSSTP,K,447,2.0,Ridgeview/Webster,TRAFFIC STOP FROM THE MOBILE COMPUTER,exclude,exclude
4,E22010000005,2022-01-01 00:00:22,7,4700.0,NaN,MISSION BAY,DR,NaN,NaN,NaN,AU1,DUP,122,1.0,Pacific Beach,ALL UNITS INFORMATION-PRI 1,exclude,exclude

In [16]:
# This is probably a bad way to do it, but right now I am filtering out records which do not have good date format
# i.e total date is not of length=19
main_pd_df = main_pd_df[main_pd_df['date_time'].str.len()==19]

In [17]:
# Getting the date_time_binned
main_pd_df = get_binned_tod_col(main_pd_df,'date_time')

In [18]:
# Filtering out the data which has crime_type as exclude
main_pd_df = main_pd_df[main_pd_df['crime_type']!='exclude']

In [19]:
print("count of main_pd_df",len(main_pd_df))
main_pd_df.head()

count of main_pd_df 103250

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,neighborhood,call_type_desc,crime_type,crime_focus,date_time_bin
5,E22010000006,2022-01-01 00:01:14,7,4600.0,NaN,ZION,AVE,NaN,NaN,NaN,415,K,321,2.0,Grantville,DISTURBING PEACE,minor,person,Late Night
6,E22010000007,2022-01-01 00:01:23,7,6700.0,NaN,KELLY,ST,NaN,NaN,NaN,PARTY,K,621,3.0,Linda Vista,LOUD PARTY,minor,property,Late Night
8,E22010000009,2022-01-01 00:02:06,7,4100.0,NaN,IOWA,ST,NaN,NaN,NaN,415V,K,813,1.0,North Park,DISTURBING PEACE W/VIOLENCE,violence,person,Late Night
11,E22010000012,2022-01-01 00:03:41,7,4600.0,NaN,35TH,ST,NaN,NaN,NaN,246R,R,811,3.0,Normal Heights,FIRING AT OCCP'D HSE/VEH 1110,violence,person,Late Night
13,E22010000014,2022-01-01 00:04:38,7,0.0,NaN,INFO LOG,NaN,NaN,NaN,NaN,503CAR,W,-1,2.0,NaN,STOLEN VEHICLE LOG,theft_robbery,property,Late Night

In [22]:
main_pd_df.to_csv("../data/processed_pd_data/merged_pd_data.csv",header=True,index=False)